@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/Assets/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: white;
  position: absolute;
  top: 50px;
  /* Adjust as needed */
  left: -300px;
  /* Initial position off-screen */
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  animation: driveIn 3s forwards;
  /* Animation duration and keyframes */
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  /* Smooth easing */
}

@keyframes driveIn {
  0% {
    left: -300px;
  }

  50% {
    transform: translateX(200px);
    /* Move the text horizontally */
  }

  100% {
    left: 20px;
    /* Adjust as needed */
  }
}

/* Media Queries */
/* For tablets (e.g., iPad) */
@media (max-width: 1024px) {
  h2 {
    font-size: 1.5em;
  }
}

/* For laptops and desktops */
@media (min-width: 1025px) {
  h2 {
    font-size: 2em;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  h2 {
    font-size: 1em;
    top: 20px;
  }
}